# Macos Finder Files
**/.DS_Store

# nvim
config/nvim/lazy-lock.json

# tmux
config/tmux/plugins/**/*
!config/tmux/plugins/.gitkeep

# karabiner
config/karabiner/automatic_backups

# lazygit
config/lazygit/state.yml

# nushell
config/nushell/**/*
!config/nushell/config.nu
!config/nushell/env.nu
